<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="STH_Autopricer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <STH_Autopricer.Properties.Settings>
            <setting name="sth_email" serializeAs="String">
                <value>email</value>
            </setting>
            <setting name="sth_password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="sth_autologin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingMinProfitNUD" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="SettingMaxProfitNUD" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="SettingRegressionValue" serializeAs="String">
                <value>0.50</value>
            </setting>
            <setting name="SettingOrderQuantityNUD" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SettingOrderMaxPriceNUD" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SettingProxyCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SettingLinearRegression" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingQuantityCheckBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingMaxOrderPriceCheckBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingCheckOnlySellPrice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingChangeOnlyUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingProxyCheck" serializeAs="String">
                <value>True</value>
            </setting>
        </STH_Autopricer.Properties.Settings>
    </userSettings>
</configuration>